<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/login" routerLinkActive="active" href="#" (click)=clear()>Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/model" routerLinkActive="active" href="#" (click)=clear()>Brand<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active" href="#"  (click)=clear()>Profile</a>
      </li>
     </ul>
    <form class="form-inline my-2 my-lg-0"  #myForm="ngForm" (ngSubmit)="getProducts()" >
      <input class="form-control mr-sm-2" [(ngModel)]="searchTxt" name="searchTxt" type="search" placeholder="Search for product" aria-label="Search">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" 
      routerLink="/model" routerLinkActive="active" value="Search"
      />
    </form>
    <a (click)="logout()" routerLink="/login" routerLinkActive="active">login</a>

  </div>
</nav>

<ng-container *ngIf="mobiles.length">
  <app-model [brands]="mobiles"></app-model>
</ng-container>

<div class="container">
  <router-outlet></router-outlet>
</div>